.popup__btn-delete {
  width: 358px;
  height: 50px;
  margin: 38px auto 36px;
  background: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
}

.popup__btn-delete:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__btn-delete {
    margin: 45px auto 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}