.header__link {
  text-decoration-line: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}