.footer {
  display: flex;
  align-self: flex-start;
  max-width: 880px;
  width: 100%;
  margin: 66px auto 60px;
}

@media (max-width: 1279px) and (min-width: 321px) {
  .footer {
    /* 48px - 66px */
    margin-top: calc(48px + 18 * (100vw - 320px) / 958);
    /* 36px - 60px */
    margin-bottom: calc(36px + 24 * (100vw - 320px) / 958);
  }
}

@media screen and (max-width: 910px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 619px) {
  .footer {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 48px auto 36px 19px;
  }
}